# Descriptive Statistics for Common Datasets
This script can be run on each of the datasets. Dataset-specific scripts will be written separately.
This script counts and removes duplicate rows, calculates the number of unique values per column, calculates the number/percent of nulls per column, and counts number of rows with the same set of null column(s).

_Author: Jared Gauntt_

## Prepare for Analysis

### Set Parameters

In [1]:
localFolder='../data/01_raw/' #If run from Git Hub project folder structure, script must be in "notebooks" folder
fileName='20210214-ems-raw-v03.xlsx'
sheetName='Patients'
removeDuplicates=True

### Import Libraries

In [2]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

### Import From Excel Spreadsheet

In [3]:
#Import single tab 
df=pd.read_excel(localFolder+fileName,sheet_name=sheetName)

#Print (1) number of rows/columns and (2) column names/types for quick confirmation of successful import
numOriginalRows=len(df)
numCols=len(df.columns)
print(sheetName)
print('Number of Rows = '+str(numOriginalRows))
print('Number of Columns = '+str(numCols))
df.dtypes

<ipython-input-3-7f037ac497b1>:2: FutureWarning: Your version of xlrd is 1.2.0. In xlrd >= 2.0, only the xls format is supported. As a result, the openpyxl engine will be used if it is installed and the engine argument is not specified. Install openpyxl instead.
  df=pd.read_excel(localFolder+fileName,sheet_name=sheetName)

Patients
Number of Rows = 545060
Number of Columns = 12

PatientId                         int64
FRDPersonnelID                   object
Shift                            object
UnitId                           object
FireStation                       int64
Battalion                         int64
PatientOutcome                   object
PatientGender                    object
CrewMemberRoles                  object
DispatchTime             datetime64[ns]
FRDPersonnelGender               object
FRDPersonnelStartDate    datetime64[ns]
dtype: object

## Numeric Analysis

### Duplicate Rows
Duplicate rows will likely need to be removed during data conditioning.

In [4]:
#Determine which rows are duplicates (True=duplicate, False=first instance of row)
duplicateRowIdentifier=df.duplicated()

#Calculate number of duplicate rows
numDuplicateRows=len(duplicateRowIdentifier[duplicateRowIdentifier==True])
numUniqueRows=numOriginalRows-numDuplicateRows

#Calculate percentage of rows that are duplicates
percentDuplicateRows=round(numDuplicateRows/len(df)*100,4)

#Print results
print('Number of Duplicate Rows =')
print(numDuplicateRows)
print('Percentage of Rows that are Duplicates = ')
print(percentDuplicateRows)

Number of Duplicate Rows =
9
Percentage of Rows that are Duplicates =
0.0017

Duplicate rows will be removed before conducting the remaining analysis in this script.

In [5]:
if removeDuplicates:
    #Reduce to the rows that were not flagged as duplicates
    df=df.loc[duplicateRowIdentifier==False,:]
    print('Duplicates Removed')
    print('Expected Number of Rows = '+str(numUniqueRows))
    print('Updated Data Frame Shape =')
    print(df.shape)
else:
    print('Duplicate rows NOT Removed')

Duplicates Removed
Expected Number of Rows = 545051
Updated Data Frame Shape =
(545051, 12)

### Unique Values Per Column
This is a simple calculation of the number of unique values per individual column.

In [6]:
#Calculate the number of unique values per columns (NULL counts as a value)
dsNumUnique=df.nunique(dropna=False)
dsNumUnique.name='Number of Unique Values'
print(dsNumUnique)

PatientId                247577
FRDPersonnelID             1839
Shift                         3
UnitId                      168
FireStation                  38
Battalion                     7
PatientOutcome               13
PatientGender                 4
CrewMemberRoles             204
DispatchTime             244163
FRDPersonnelGender            3
FRDPersonnelStartDate       408
Name: Number of Unique Values, dtype: int64

### Null Values Per Column
This is a simple calculation of the number/percentage of null values per individual column.

In [7]:
#Calculate the number of null values per columns
dsNumNull=df.isnull().sum()
dsNumNull.name='Number Rows With Nulls'
print(dsNumNull)

PatientId                     0
FRDPersonnelID                1
Shift                         0
UnitId                        0
FireStation                   0
Battalion                     0
PatientOutcome                2
PatientGender            131084
CrewMemberRoles               0
DispatchTime               2269
FRDPersonnelGender         1253
FRDPersonnelStartDate      1253
Name: Number Rows With Nulls, dtype: int64

In [8]:
#Calculate the percentage of null values per columns
dsPercentNull=(dsNumNull/len(df)*100).round(2)
dsPercentNull.name='Percent Rows With Nulls'
print(dsPercentNull)

PatientId                 0.00
FRDPersonnelID            0.00
Shift                     0.00
UnitId                    0.00
FireStation               0.00
Battalion                 0.00
PatientOutcome            0.00
PatientGender            24.05
CrewMemberRoles           0.00
DispatchTime              0.42
FRDPersonnelGender        0.23
FRDPersonnelStartDate     0.23
Name: Percent Rows With Nulls, dtype: float64

In [9]:
#Merge data series (by column) together
dfPerCol=pd.DataFrame()
dfPerCol[dsNumUnique.name]=dsNumUnique
dfPerCol[dsNumNull.name]=dsNumNull
dfPerCol[dsPercentNull.name]=dsPercentNull

### Null Values Per Row
This section determines which columns have a null value per each row, resulting in a data series matching the number of unique rows in the dataset. The series values are tuples of column names. The resulting table shows the unique tuples of column names with their corresponding row count. Once the data subsets for the project questions are determined, this will help inform the completeness of those data subsets.

In [10]:
#For a single row, determine which columns have null values
def NullsPerRow(dsRow):  
    columnsNull=list(dsRow[dsRow.isnull()].index)
    columnsNull.sort()
    columnsNull=tuple(columnsNull) #used tuple since lists can't be used by pandas unique()
    return(columnsNull)
dsNulls=df.apply(NullsPerRow,axis=1)

#Create data frame for counting 
dfNulls=pd.DataFrame(dsNulls.unique(),columns=['Columns With Null'])
dfNulls['Number of Rows']=0

#Count the number of rows per each tuple of null columns
for index in dfNulls.index:
    dfNulls.loc[index,'Number of Rows']=len(dsNulls[dsNulls==dfNulls.loc[index,'Columns With Null']])
dfNulls.sort_values(by='Number of Rows',ascending=False,inplace=True)
dfNulls.reset_index(drop=True,inplace=True)

#Add a column for percent of rows
dfNulls['Percent of Rows']=(dfNulls['Number of Rows']/dfNulls['Number of Rows'].sum()*100).round(2)
dfNulls

,Columns With Null,Number of Rows,Percent of Rows
0,(),411339,75.47
1,"(PatientGender,)",130197,23.89
2,"(DispatchTime,)",1613,0.30
3,"(FRDPersonnelGender, FRDPersonnelStartDate)",1007,0.18
4,"(DispatchTime, PatientGender)",647,0.12
5,"(FRDPersonnelGender, FRDPersonnelStartDate, PatientGender)",236,0.04
6,"(DispatchTime, FRDPersonnelGender, FRDPersonnelStartDate)",7,0.00
7,"(DispatchTime, FRDPersonnelGender, FRDPersonnelStartDate, PatientGender)",2,0.00
8,"(PatientGender, PatientOutcome)",2,0.00
9,"(FRDPersonnelGender, FRDPersonnelID, FRDPersonnelStartDate)",1,0.00

## Visualizations

In [11]:
print(sheetName+' Dataset\n')
print('Original Number of Rows = '+str(numOriginalRows))
print('Duplicate Number of Rows = '+str(numDuplicateRows))
print('Percent Duplicate Rows = '+str(percentDuplicateRows)+'\n')
if removeDuplicates:
    print('Duplicate rows removed prior to remaining analysis')
    print('Unique Number of Rows = '+str(numUniqueRows)+'\n')
else:
    print('Duplicate Rows NOT Removed')

Patients Dataset

Original Number of Rows = 545060
Duplicate Number of Rows = 9
Percent Duplicate Rows = 0.0017

Duplicate rows removed prior to remaining analysis
Unique Number of Rows = 545051

In [12]:
dfPerCol

,Number of Unique Values,Number Rows With Nulls,Percent Rows With Nulls
PatientId,247577,0,0.00
FRDPersonnelID,1839,1,0.00
Shift,3,0,0.00
UnitId,168,0,0.00
FireStation,38,0,0.00
Battalion,7,0,0.00
PatientOutcome,13,2,0.00
PatientGender,4,131084,24.05
CrewMemberRoles,204,0,0.00
DispatchTime,244163,2269,0.42
FRDPersonnelGender,3,1253,0.23
FRDPersonnelStartDate,408,1253,0.23

"Columns With Null" shows that for a single row, these columns had null values. If we find that one of our data subsets (for answering specific questions) has the same columns as one of these tuples with a high count, there might be a problem with too many nulls.

In [13]:
dfNulls

,Columns With Null,Number of Rows,Percent of Rows
0,(),411339,75.47
1,"(PatientGender,)",130197,23.89
2,"(DispatchTime,)",1613,0.30
3,"(FRDPersonnelGender, FRDPersonnelStartDate)",1007,0.18
4,"(DispatchTime, PatientGender)",647,0.12
5,"(FRDPersonnelGender, FRDPersonnelStartDate, PatientGender)",236,0.04
6,"(DispatchTime, FRDPersonnelGender, FRDPersonnelStartDate)",7,0.00
7,"(DispatchTime, FRDPersonnelGender, FRDPersonnelStartDate, PatientGender)",2,0.00
8,"(PatientGender, PatientOutcome)",2,0.00
9,"(FRDPersonnelGender, FRDPersonnelID, FRDPersonnelStartDate)",1,0.00